body {
    background: #8bc8fe;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: "Lucida Sans Unicode" !important;
    overflow: hidden;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: left;
    align-items: stretch;
}


.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 180px; 
    background: #8bc8fe;
    border-bottom: 5px solid #051b2c;
    
}

h1 {
    margin-left: 70px;
    margin-top: 25px;
    text-align: left;
    font-family: "Lucida Sans Unicode";
    color: #051b2c;
    font-size: 100px;
}

#booklist {
    margin-left: 50px;
    overflow-y: scroll;
    height: fixed;
    margin-top: 200px;
    height: 500px;
    width: 500px;
    border: 3px solid #051b2c;
    scrollbar-color: #051b2c #8bc8fe;

    flex: none;
}

ul {
    margin: auto;
    font-size: 20px;
    border: 1px solid #051b2c;
}

ul {
    cursor: pointer;
}

#generalinfosection {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 1000px;
}

#infocard {
    display: flex;
    height: 300px;
    width: 800px;
    background-color: #051b2c;
    margin-left: 650px;
    margin-top: -500px;
    outline: 1px solid #8bc8fe;
    outline-offset: -5px;
}

#genresection {
    display: flex;
    height: 300px;
    width: 300px;
}

#bookgenreimage {
    margin: auto;
    margin-left: 20px;
    height: 200px;
    width: 200px;
    border: 3px solid #8bc8fe;
    border-radius: 50%;
    padding: 1em;
}

#textsection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 300px;
    width: 400px;
}

#titlesection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100px;
}

#title {
    text-align: center;
    margin-top: 10px;
    color: #8bc8fe;
    font-size: 30px;
}

#infoanddata {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#infosection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    width: 200px;
}

#author {
    margin: auto;
    margin-top: 5px;
    color: #8bc8fe;
    font-size: 30px;
}

#year {
    margin: auto;
    margin-top: 5px;
    color: #8bc8fe;
    font-size: 30px;
}

#pages {
    margin: auto;
    margin-top: 5px;
    color: #8bc8fe;
    font-size: 30px;
}

#read {
    margin: auto;
    margin-top: 5px;
    color: #8bc8fe;
    font-size: 30px;
}

#datasection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    width: 200px;
}

#authorname {
    margin-top: 10px;
    width: 300px;
    color: #8bc8fe;
    font-size: 25px;
}

#yearnumber {
    margin-top: 15px;
    color: #8bc8fe;
    font-size: 25px;
}

#pagesnumber {
    margin-top: 15px;
    color: #8bc8fe;
    font-size: 25px;
}

#readstatus {
    margin-top: 10px;
    color: #8bc8fe;
    font-size: 25px;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: 200px;
    width: 200px;
}

#addbook {
    margin-top: 350px;
    margin-left: -580px;
    color: #8bc8fe;
    background-color: #051b2c;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

#deletebook {
    margin-top: 350px;
    margin-left: 40px;
    color: #8bc8fe;
    background-color: #051b2c;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    min-width: 200px;
}

#changestatus {
    margin-top: 350px;
    margin-left: 40px;
    color: #8bc8fe;
    background-color: #051b2c;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    min-width: 200px;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: "Lucida Sans Unicode";
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: #8bc8fe;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}

.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}

.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

#submit {
    font-family: "Lucida Sans Unicode";
    color: #8bc8fe;
    background-color: #051b2c;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

